<ng-container *ngIf="teamData">
    <header>
        <app-block-head>{{ title }}</app-block-head>
    </header>
    <section class="team__members">
        <div class="team__members-item" *ngIf="first">
            <app-member [data]="first"></app-member>
        </div>
        <div class="team__members-item" *ngIf="second">
            <app-member [data]="second"></app-member>
        </div>
        <div class="team__members-item" *ngIf="third">
            <app-member [data]="third"></app-member>
        </div>
    </section>
</ng-container>