.team__members{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.team__members-item{
    width: 100%;
    margin-bottom: 20px;
}

@media(min-width:1024px){
    .team__members{
        flex-direction: row;
    }
    .team__members-item{
        width:calc(100% / 3 - 20px);
        margin:10px;
    }
}