@import '../../../theme';

.member{
    display:flex;
    flex-direction: column;
    background:#fff;
    transition: background .2s;

    &:hover{
        background:#eee;
    }
}

.member__image{
    position: relative;
    width:100%;
}

.member__image-wrap{
    width:100%;
    padding-bottom:100%;
    height:0;
    overflow: hidden;
}

.member__data {
    display: flex;
    flex-direction: column;
    padding:20px;
}

.member__data-name{
    color: color('secondary');
    font-weight: 700;
    font-size:18px;
    line-height:18px;
    margin-bottom:5px;
}

.member__data-position{
    margin-bottom:20px;
}

.member__data-mail,
.member__data-phone,
.member__data-position{
    font-size: 14px;
    line-height: 18px;
}

.member__data-phone,
.member__data-mail{
    margin-bottom:5px;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.member__data-mail{
    color: color('link');
}

.member__data-phone,
.member__data-position{
    color: color('primary');
}

@media(min-width:1024px){
    .member__data{
        padding:40px;
    }
    .member__data-mail,
    .member__data-phone,
    .member__data-position{
        font-size:16px;
        line-height: 20px;
    }
}