<div class="member">
    <div class="member__image">
        <div class="member__image-wrap">
            <app-image [image]="data.imageUrl"></app-image>
        </div>
    </div>
    <div class="member__data">
        <p class="member__data-name">{{ personalData.title }}</p>
        <p class="member__data-position">{{ personalData.description }}</p>
        <a href="mailto:{{personalData.link}}" class="member__data-mail">{{ personalData.link }}</a>
        <a href="tel:{{personalData.text}}" class="member__data-phone">{{ personalData.text }}</a>
    </div>
</div>