<div class="image">
    <picture>
        <source srcset="{{image.w2560}}"
        media="(min-width: 2560px)">
        <source srcset="{{image.w1920}}"
        media="(min-width: 1920px)">
        <source srcset="{{image.w1080}}"
        media="(min-width: 1080px)">
        <source srcset="{{image.w400}}"
        media="(min-width: 400px)">
        <img src="{{image.w200}}" />
    </picture>
    <div class="image__loader"></div>
</div>