.image{
    img,picture{
        display:block;
    }
    picture{
        position: relative;
        z-index:1;
    }
    img{
        width: 100%;
        height: auto;
    }
}

.image__loader{
    position: absolute;
    z-index: 0;
    background:#ccc;
    animation: loading 0.5s infinite alternate;
    top:0;
    left:0;
    width:100%;height:100%;
}

@keyframes loading{
    from{
        opacity:1;
    }
    to{
        opacity:0.5;
    }
}
