@import '../../../theme';

h2 {
  color: color('secondary');
  font-weight: 900;
  text-align: center;
  font-size: 30px;
  line-height: 34px;
  margin:30px 0;
}

@media(min-width:1024px){
    h2{
        margin:40px 0;
        font-size:40px;
        line-height: 44px;
    }
}